.loader {
  height: 100%;
}

.cup {
  width: 90px;
  height: 70px;
  border-radius: 0 0 70px 70px;
  box-shadow: 0 0 0 4px #e979fa;
  background: url("img/coffee.png") repeat-x 0 140px;
  animation: fill 5s infinite;
}

.handle {
  height: 35px;
  width: 20px;
  background-color: transparent;
  border: 4px solid #e979fa;
  position: relative;
  left: 85px;
  top: -5px;
  border-radius: 0 25px 80px 0;
}

.cup .steam {
  position: absolute;
  border-radius: 10px 2px;
  width: 6px;
  animation: steaming 2s infinite;
}

.cup .steam:nth-child(1) {
  top: -43px;
  left: 12px;
  height: 20px;
  background: #8e5a3433;
  animation-delay: 0.2s;
}

.cup .steam:nth-child(2) {
  top: -76px;
  left: 35px;
  height: 35px;
  background: #8e5a3464;
  animation-delay: 0.6s;
}

.cup .steam:nth-child(3) {
  top: -56px;
  left: 57px;
  height: 30px;
  background: #8e5a3444;
  animation-delay: 1s;
}

@keyframes fill {
  0% {
    background-position: 0 70px;
  }

  20% {
    background-position: -225px 50px;
  }

  40% {
    background-position: -450px 25px;
  }

  80% {
    background-position: -635px -20px;
  }

  100% {
    background-position: 0 70px;
  }
}

@keyframes steaming {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    filter: blur(0.8px);
    transform: translateY(-10px);
  }
}
