<div class="mt-6 pb-6">
  <div class="flex justify-between">
    <div>
      <div class="flex items-center space-x-3">
        <h1 class="text-2xl">Zhannur</h1>
        <p class="text-gray-400 font-normal">jannuraidynuly@gmail.com</p>
      </div>
      <p class="mt-3 font-normal">{{ "footer.text" | translate }}</p>
    </div>

    <div>
      <h2 class="text-2xl">{{ "footer.media" | translate }}</h2>
      <div class="flex">
        <span class="icon icon-github"></span>

        <span class="icon icon-linkedin"></span>
      </div>
    </div>
  </div>
  <p class="text-center mt-8 text-gray-400">© 2022. Made by Zhannur</p>
</div>
