<div class="mt-6">
  <div class="flex justify-between">
    <div>
      <div class="flex space-x-3">
        <h1>Zhannur</h1>
        <p>jannuraidynuly@gmail.com</p>
      </div>
      <p>Web designer and front-end developer based in Ukraine</p>
    </div>

    <div>
      <h2>Media</h2>
      <div class="flex">
        <span class="icon icon-github"></span>

        <span class="icon icon-linkedin"></span>
      </div>
    </div>
  </div>
  <p class="text-center mt-8">© 2022. Made by Zhannur</p>
</div>
