<div class="mt-24">
  <app-section-title [sectionTitle]="'about-me'"></app-section-title>
  <div class="flex justify-between">
    <div class="flex-1 info space-y-5 text-gray-400">
      <p class="mt-12">Hello, i’m Zhannur!</p>
      <p>
        I’m a self-taught front-end developer based in Kyiv, Ukraine. I can
        develop responsive websites from scratch and raise them into modern
        user-friendly web experiences.
      </p>
      <p>
        Transforming my creativity and knowledge into a websites has been my
        passion for over a year. I have been helping various clients to
        establish their presence online. I always strive to learn about the
        newest technologies and frameworks.
      </p>
    </div>
    <div class="flex-1 img">
      <img class="ml-auto" src="/assets/img/me-2.png" alt="me" />
    </div>
  </div>
</div>
