<div #mainBlock class="mt-24">
  <app-section-title [sectionTitle]="'toolbar.contacts'"></app-section-title>
  <div class="flex text-gray-400 mt-10">
    <p class="flex-1">{{ "contact.text" | translate }}</p>
    <div class="flex-1">
      <div
        class="flex flex-col w-1/2 w-max ml-auto ring-1 ring-inset ring-gray-400 p-4 space-y-4"
      >
        <div class="text-white font-semibold">
          {{ "contact.contact" | translate }}
        </div>
        <div class="hover:bg-fuchsia-500 contact-item" (click)="getLinkedin()">
          <span class="icon icon-linkedin text-white"></span>
          <p>zhannur-akhmetkhanov</p>
        </div>

        <a
          class="hover:bg-fuchsia-500 contact-item"
          href="mailto: jannuraidynuly@gmail.com"
        >
          <span class="icon icon-email text-white"></span>

          <p>jannuraidynuly@gmail.com</p>
        </a>
      </div>
    </div>
  </div>
</div>
