<div class="flex justify-between h-16 items-center">
  <div>Zhannur</div>
  <button
    type="button"
    class="sm:hidden inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-fuchsia-500 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
    (click)="openMobileMenu(mobileMenu)"
  >
    <span class="sr-only">Open main menu</span>
    <span
      [ngClass]="{ block: !openMenu, hidden: openMenu }"
      class="icon icon-menu"
    ></span>

    <span
      [ngClass]="{ block: openMenu, hidden: !openMenu }"
      class="icon icon-menu-close"
    ></span>
  </button>
  <div class="hidden sm:flex space-x-4">
    <a
      *ngFor="let item of menuItems; let index = index"
      [ngClass]="{
        'bg-fuchsia-500': index === 0,
        'hover:bg-fuchsia-500': index !== 0
      }"
      href="#"
      class="px-3 py-2 rounded-md text-sm font-medium"
      >{{ "#" + (item | translate) }}</a
    >
    <app-language-select></app-language-select>
  </div>
</div>

<div class="hidden" #mobileMenu>
  <div class="space-y-1 px-2 pt-2 pb-3">
    <a
      *ngFor="let item of menuItems; let index = index"
      [ngClass]="{
        'bg-fuchsia-500': index === 0,
        'hover:bg-fuchsia-500': index !== 0
      }"
      href="#"
      class="block px-3 py-2 rounded-md text-base font-medium"
      >{{ "#" + (item | translate) }}</a
    >
  </div>
</div>

<div class="absolute left-2 top-0 flex flex-col items-center">
  <div class="h-36 w-0.5 bg-gray-500"></div>
  <span class="icon icon-github"></span>
  <span class="icon icon-linkedin"></span>
</div>
