a {
  transition: 0.4s;
}

.menu-item {
  &:hover {
    background-color: var(--select);
  }

  &.selected {
    background-color: var(--select);
  }
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.mobileMenu {
  position: sticky;
  top: 4rem;
  z-index: 100;
}
