a {
  transition: 0.4s;
}

.toolbar {
  position: sticky;
  top: 0;
  background-color: #282c33;
  z-index: 100;
}

.mobileMenu {
  position: sticky;
  top: 4rem;
  background-color: #282c33;
  z-index: 100;
}
