<div class="flex flex-col ring-1 ring-inset ring-gray-400">
  <img [src]="project.img" [alt]="project.title + 'img'" />
  <div class="techs p-3 border-t border-gray-400 space-x-3">
    <span class="text-gray-400" *ngFor="let i of project?.techs">{{ i }}</span>
  </div>
  <div class="title px-5 pt-6 pb-3 border-t border-gray-400">
    <h4 class="text-2xl font-medium">{{ project.title | translate }}</h4>
    <p class="text-gray-400 mt-3.5">{{ project.description | translate }}</p>
    <div class="flex space-x-4 mt-3">
      <app-btn
        *ngIf="project?.live"
        [btnText]="'project.btn.live' | translate"
        (click)="followingLink(project.live)"
      ></app-btn>
      <app-btn
        [btnText]="'project.btn.code' | translate"
        [isGray]="true"
        (click)="followingLink(project.code)"
      ></app-btn>
    </div>
  </div>
</div>
