<div class="group relative ring-1 ring-inset ring-gray-400 p-0.5">
  <div
    class="min-h-80 aspect-w-1 w-full overflow-hidden bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80"
  >
    <img
      [src]="project.img"
      [alt]="project.title + 'img'"
      class="h-full w-full object-cover object-center lg:h-full lg:w-full"
    />
  </div>

  <div class="flex flex-wrap p-2 border-t border-gray-400 gap-x-3">
    <span
      class="text-slate-600 dark:text-gray-400 text-gray-400"
      *ngFor="let i of project?.techs"
      >{{ i }}</span
    >
  </div>

  <div class="title px-5 pt-6 pb-3 border-t border-gray-400">
    <h4 class="text-2xl font-medium">{{ project.title | translate }}</h4>
    <p class="text-slate-600 dark:text-gray-400 mt-3.5">
      {{ project.description | translate }}
    </p>
    <div class="flex flex-wrap gap-4 mt-3">
      <app-btn
        *ngIf="project?.live"
        [btnText]="'project.btn.live' | translate"
        (click)="followingLink(project.live)"
      ></app-btn>
      <app-btn
        [btnText]="'front-code'"
        [isGray]="true"
        (click)="followingLink(project.code)"
      ></app-btn>
      <app-btn
        *ngIf="project?.backCode"
        [btnText]="'back-code'"
        [isGray]="true"
        (click)="followingLink(project.backCode)"
      ></app-btn>
    </div>
  </div>
</div>
