:host::ng-deep {
  position: relative;
}

.position-text {
  color: var(--select2);
}

.box {
  background-color: var(--select2);
}

.me-image {
  max-width: 330px;
}

.curr-work {
  text-wrap: nowrap;
  padding-right: 7px;
}

.author {
  position: absolute;
  bottom: -58px;
}

.quote {
  font-size: 4rem;
  height: 10px;
}
