$icons-font: "icons";

@font-face {
font-family: $icons-font;
src: url("./icons.eot") format("embedded-opentype"),
url("./icons.woff2") format("woff2"),
url("./icons.woff") format("woff"),
url("./icons.ttf") format("truetype"),
url("./icons.svg") format("svg");
}

    [class^="icon-"]:before, [class*=" icon-"]:before {
font-family: icons !important;
font-style: normal;
font-weight: normal !important;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

$icons-map: (
    "app": "\f101",
    "cv": "\f102",
    "email": "\f103",
    "github": "\f104",
    "linkedin": "\f105",
    "menu-close": "\f106",
    "menu": "\f107",
    "telegram": "\f108",
);

        .icon-app:before {
    content: map-get($icons-map, "app");
    }
        .icon-cv:before {
    content: map-get($icons-map, "cv");
    }
        .icon-email:before {
    content: map-get($icons-map, "email");
    }
        .icon-github:before {
    content: map-get($icons-map, "github");
    }
        .icon-linkedin:before {
    content: map-get($icons-map, "linkedin");
    }
        .icon-menu-close:before {
    content: map-get($icons-map, "menu-close");
    }
        .icon-menu:before {
    content: map-get($icons-map, "menu");
    }
        .icon-telegram:before {
    content: map-get($icons-map, "telegram");
    }
