<div class="lang-menu pl-3" (mouseleave)="langMenu.style.display = 'none'">
  <div
    class="selected-lang justify-start sm:justify-between"
    [ngClass]="selectedLanguage.name"
    (mousemove)="langMenu.style.display = 'block'"
  >
    {{ selectedLanguage.name }}
  </div>
  <ul #langMenu class="z-10 bg-slate-50 dark:bg-[#282c33]">
    <ng-container *ngFor="let lang of languages">
      <li
        class="lang-item rounded-md"
        (click)="onSelectLang(lang); closeLangMenu(langMenu)"
      >
        <div class="selected-lang" [ngClass]="lang.name">
          {{ lang.name }}
        </div>
      </li>
    </ng-container>
  </ul>
</div>
